Package: com.levi.appstorethruterm
Name: AppStore Through Terminal
Version: 2.0
Architecture: iphoneos-arm
Depiction: http://repo.insanelyi.com/depiction.php?package=appstorethruterm
Description: Open AppStore through terminal
Depends: com.ericasadun.utilities
Homepage: http://getagripon.com/tillie
Author: wlevit3 <levi.tillie3@gmail.com>
Sponsor: Levi Tillie <http://getagripon.com/tillie>
Section: lScripts
Maintainer: Levi Tillie <levi.tillie3@gmail.com>

